@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #8d0b41;
  --color-background: #ffffff;
  --color-text: #1a1a1a;
  --color-subtle-bg: #f8f8f8;
}

body {
  @apply bg-subtle-bg text-text;
}

